.title {
  padding-top: 30px;
  padding-left: 30px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #0D5D56;
}

.btn-back {
  color: #FFFFFC;
  padding: 10px 15px;
  border-radius: 4px;
  font-family: 'Montserrat Alternates', sans-serif;
  background: #F5D2CD;
  transition: background 0.3s ease;
}
.btn-back:hover {
  opacity: 1;
  background: #F5CAC3;
  text-decoration: none;
  color: #FFFFFC;
}

.btn-book {
  color: #FFFFFC;
  padding: 10px 15px;
  border-radius: 4px;
  background: #ff963c;
  transition: background 0.3s ease;
  font-family: 'Montserrat Alternates', sans-serif;

}
.btn-book:hover {
  opacity: 1;
  background: #FF7F11;
  text-decoration: none;
  color: #FFFFFC;
}

.price {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #F18805;
  font-size: 36px;
  font-weight: lighter;
}

.description {
  font-family: 'Assistant', sans-serif;
  font-size: 23px;
  color: #0D5D56;
}
