<h1 class="bg-title">My bookings</h1>
<% @bookings.each do |booking| %>
  <div class='booking-container'>
    <ul>
      <li>
        <p class="bg-description"> You have booked the <%= booking.garden.title %> on <%= booking.date %> <%= link_to "View", garden_path(booking.garden), class: "btn btn-back"%>  </p>
      </li>
    </ul>
  </div>
<% end %>
