
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://jazzbandforhire.co.uk/wp-content/uploads/2014/04/garden-party-2.jpg');">
  <div class="banner-content">

    <h1>Al Fresco</h1>
    <p>Rent <span id="banner-typed-text"></span></p>
    <%= link_to "book it now", gardens_path, class: "btn-medium" %>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1471180625745-944903837c22?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=93169c2e680cc7139ab87fd98d5bae0d&auto=format&fit=crop&w=1000&q=80');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Garden, East Sussex</h2>
          <p>Beautiful farmland</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/beatriceo">
        <a class="card-link" href="#" ></a>
      </div>
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1505210952930-c3e74fb9db61?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6bfe86d948a2f380330df59e876c7678&auto=format&fit=crop&w=696&q=80');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Walled garden, Devon</h2>
          <p>Historic walled garden</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/alexkelly51">
        <a class="card-link" href="#" ></a>
      </div>
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1508418065966-2d7f39284ad9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf1373b0262c4fb9c71e5a8b3f2c109e&auto=format&fit=crop&w=1500&q=80');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Pool garden, Portugal</h2>
          <p>Secluded garden</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/Neecholas">
        <a class="card-link" href="#" ></a>
      </div>
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1445600523100-d5b99b664bda?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ced520844801ba3cb716289d7e0c3232&auto=format&fit=crop&w=1500&q=80');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Historic woodland, Black Forest</h2>
          <p>Idealic woodland</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/freddiescadding">
        <a class="card-link" href="#" ></a>
      </div>
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1516253593875-bd7ba052fbc5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=99084e61a2a7a20c503fa266962c2ee4&auto=format&fit=crop&w=1500&q=80');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Greenhouse and allotment</h2>
          <p>Look after your own kitchen garden</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/nanik13">
        <a class="card-link" href="#" ></a>
      </div>
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1526489561696-1a5a2b82de4e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0bc89d4360ed5d3decc47d2ac37dbd77&auto=format&fit=crop&w=800&q=60');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Maze garden</h2>
          <p>Get lost in your own maze</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/naywick">
        <a class="card-link" href="#" ></a>
      </div>
      <!-- insert <div class="card"> -->
    </div>
  </div>
</div>
