/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: #FFFFFC;
}
.alert-info {
  background: #F18805;
}
.alert-warning {
  background: $red;
}
