.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: #FFFFFC;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top:30px;
  border-radius: 5px;
  width: 100%;
  line-height: -1px;
  padding: 0px;
  font-size: 16px;
  }

h3{

  font-size: 23px;
  padding: 7px;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #F18805;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 20px;
}
.card-description h2 {
  font-size: 24px;
  font-family: 'Montserrat Alternates', sans-serif;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
  font-family: 'Montserrat Alternates', sans-serif;
}
.card-description h3{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 15px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
  border-radius: 5px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 17px;
  text-decoration: none;
}
.card-link:hover {
  position: absolute;
  opacity: 0.4;
  text-decoration: none;
  font-color: #FFFFFC;
}


.container-show{
  max-width: 1000px;
  margin: 0 auto;
}
.card-garden {
  height: 400px;
  width: auto;

}

